![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [105]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head(10)

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7
5                     Bard High School Early College  ...           70.8
6       Urban Assembly Academy of Government and Law  ...           80.8
7                            Marta Valle High School  ...           35.6
8                University Neighborhood High School  ...           69.9
9                             New Design High School  ...           73.7

[10 rows x 7 columns]

In [106]:
# unique types in the "borough" column
borough_types = schools['borough'].unique()
print(borough_types)

['Manhattan' 'Staten Island' 'Bronx' 'Queens' 'Brooklyn']

In [107]:
schools

                                           school_name  ... percent_tested
0    New Explorations into Science, Technology and ...  ...            NaN
1                                 Essex Street Academy  ...           78.9
2                         Lower Manhattan Arts Academy  ...           65.1
3      High School for Dual Language and Asian Studies  ...           95.9
4        Henry Street School for International Studies  ...           59.7
..                                                 ...  ...            ...
370  Queens High School for Information, Research, ...  ...           44.6
371  Rockaway Park High School for Environmental Su...  ...           38.5
372                   Channel View School for Research  ...           76.6
373                    Rockaway Collegiate High School  ...           46.5
374                                  Scholars' Academy  ...           99.2

[375 rows x 7 columns]

# 1. Which NYC Schools Have the best math Result. Best math result is above 80% score

In [108]:

best_math_schools = schools[schools["average_math"]>=640][["school_name","average_math"]].sort_values("average_math",ascending = False)
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

# 2. What are the top 10 performing schools based on the combined SAT scores.?

In [109]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_10_schools = schools[["school_name","total_SAT"]].sort_values("total_SAT", ascending=False).head(10)
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# 3. Which Single borough has the largest standard deviation in the combined SAT score

In [110]:

borough = schools.groupby("borough")["total_SAT"].agg(["count","mean","std"])
borough

               count         mean         std
borough
Bronx             98  1202.724490  150.393901
Brooklyn         109  1230.256881  154.868427
Manhattan         89  1340.134831  230.294140
Queens            69  1345.478261  195.252899
Staten Island     10  1439.000000  222.303596

In [111]:
largest_std_dev = borough[borough["std"]==borough["std"].max()].round(2)
largest_std_dev

           count     mean     std
borough
Manhattan     89  1340.13  230.29

In [112]:
largest_std_dev = largest_std_dev.rename(columns = {"count":"num_schools","mean":"average_SAT","std":"std_SAT"})
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29